<link rel="stylesheet" href="/main.css">
<section class="adds">
    <%- include('header') %>
    <section class="add-container">
        <% if(option === 'show') { %>
            <form action="/add/show" class="form" method="POST" enctype="multipart/form-data">
                <label for="s-title">Show Title: </label>
                <input type="text" name="sTitle" id="s-title">

                <label for="s-type">Show Type:</label>
                <select name="sType" id="s-type">
                    <% typeArr.forEach(type => { %>
                        <option value="<%= type.type_name %>"><%= type.type_name %></option>
                    <% }) %>
                </select>

                <label for="s-category">Show Category: </label>
                <select name="sCategory" id="s-category">
                    <% catArr.forEach(cat => { %>
                        <option value="<%= cat.category_name %>"><%= cat.category_name %></option>
                    <% }) %>
                </select>
                
                <label for="s-country">Country: </label>
                <select name="sCountry" id="s-country">
                    <% conArr.forEach(con => { %>
                        <option value="<%= con.country_name %>"><%= con.country_name %></option>
                    <% }) %>
                </select>

                <label for="s-rating">Show rating: </label>
                <input type="text" name="sRating" id="s-rating">

                <label for="pic">Upload Image</label>
                <input type="file" name="pic" id="pic">

                <div class="form-buttons">
                    <input type="submit" value="CREATE SHOW">
                    <button type="button" class="back-btn" onclick="window.history.back()">Back</button>
                </div>
            </form>
        <% } else if (option === 'category') { %>
            <form action="/add/category" class="form" method="POST">
                <label for="s-category">Show Category:</label>
                <input type="text" name="category" id="category" placeholder="Ex. Comedy">

                <div class="form-buttons">
                    <input type="submit" value="CREATE CATEGORY">
                    <button type="button" class="back-btn" onclick="window.history.back()">Back</button>
                </div>
            </form>
        <% } else if (option === 'type') { %>
            <form action="/add/type" class="form" method="POST">
                <label for="t-type">Type: </label>
                <input type="text" name="type" id="type">
                <div class="form-buttons">
                    <input type="submit" value="CREATE TYPE">
                    <button type="button" class="back-btn" onclick="window.history.back()">Back</button>
                </div>
            </form>
        <% } %>
    </section>
    <%- include('footer') %>
</section>