<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="/main.css">
    <script>
        const clickBack = () => {
            window.history.back();
        }

        const showClick = (showId, showName, event) => {
            const inValue = document.querySelector('#sName').value;
            event.preventDefault();
            if (inValue.toLowerCase() !== showName.toLowerCase()) {
                alert('Invalid input! It did not match!');
            } else {
                const form = event.target.closest('form');
                form.submit();
            }
        }

        const catClick = (cId, catName, event) => {
            const inValue = document.querySelector('#cName').value;
            event.preventDefault();
            if (inValue.toLowerCase() !== catName.toLowerCase()) {
                alert('Invalid input! It did not match!');
            } else {
                const form = event.target.closest('form');
                form.submit();
            }
        }

        const typeClick = (tId, typeName, event) => {
            const inValue = document.querySelector('#tName').value;
            event.preventDefault();
            if (inValue.toLowerCase() !== typeName.toLowerCase()) {
                alert('Invalid input! It did not match!');
            } else {
                const form = event.target.closest('form');
                form.submit();
            }
        }

        const showC = (showId, showName) => {
            window.location.href = `http://localhost:3000/delete?choice=show&show=yes&sId=${showId}&showName=${showName}`;
        }

        const cat = (categoryId, categoryName) => {
            window.location.href = `http://localhost:3000/delete?choice=category&show=yes&cId=${categoryId}&catName=${categoryName}`;
        }

        const type = (typeId, typeName) => {
            window.location.href = `http://localhost:3000/delete?choice=type&show=yes&tId=${typeId}&typeName=${typeName}`;
        }
    </script>
</head>
<body>
    <section class="delete">
        <%- include('header') %>
        <section class="delete-container">
            <% if (option === 'show') { %>
                <% if (show === 'yes') { %>
                    <dialog open class="modal">
                        <p>Enter "<%= sInfo.showName %>" To Confirm Deletion</p>
                        <form action="/delete/show" method="POST">
                            <input type="hidden" name="sId" value="<%= sInfo.showId %>">
                            <input type="text" name="sName" id="sName" required>
                            <div class="button-container">
                                <input type="button" value="Back" onclick="clickBack()">
                                <input type="submit" value="Confirm" onclick="showClick('<%= sInfo.showId %>', '<%= sInfo.showName %>', event)">
                            </div>
                        </form>
                    </dialog>
                <% } %>
                <div class="dShow-container">
                    <button class="back-button" onclick="clickBack()">Back</button>
                    <h2>Delete Shows</h2>
                    <div class="shows">
                        <% showArr.forEach(sa => { %>
                            <div class="show">
                                <%= sa.show_name %>
                                <span class="icon" onclick="showC('<%= sa.show_id %>', '<%= sa.show_name %>')">
                                    <img src="./icons/del.svg" alt="Delete">
                                </span>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } else if (option === 'category') { %>
                <% if (show === 'yes') { %>
                    <dialog open class="modal">
                        <p>All shows with this category will also be deleted!</p>
                        <p>Enter "<%= cInfo.catName %>" To Confirm Deletion</p>
                        <form action="/delete/category" method="POST">
                            <input type="hidden" name="cId" value="<%= cInfo.cId %>">
                            <input type="text" name="cName" id="cName" required>
                            <div class="button-container">
                                <input type="button" value="Back" onclick="clickBack()">
                                <input type="submit" value="Confirm" onclick="catClick('<%= cInfo.cId %>', '<%= cInfo.catName %>', event)">
                            </div>
                        </form>
                    </dialog>
                <% } %>
                <div class="dcategory-container">
                    <button class="back-button" onclick="clickBack()">Back</button>
                    <h2>Delete Categories</h2>
                    <div class="categories">
                        <% catArr.forEach(cat => { %>
                            <div class="category">
                                <%= cat.category_name %>
                                <span class="icon" onclick="cat('<%= cat.category_id %>', '<%= cat.category_name %>')">
                                    <img src="./icons/del.svg" alt="Delete">
                                </span>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } else if (option === 'type') { %>
                <% if (show === 'yes') { %>
                    <dialog open class="modal">
                        <p>All shows with this type will also be deleted!</p>
                        <p>Enter "<%= tInfo.typeName %>" To Confirm Deletion</p>
                        <form action="/delete/type" method="POST">
                            <input type="hidden" name="tId" value="<%= tInfo.tId %>">
                            <input type="text" name="tName" id="tName" required>
                            <div class="button-container">
                                <input type="button" value="Back" onclick="clickBack()">
                                <input type="submit" value="Confirm" onclick="typeClick('<%= tInfo.tId %>', '<%= tInfo.typeName %>', event)">
                            </div>
                        </form>
                    </dialog>
                <% } %>
                <div class="dtype-container">
                    <button class="back-button" onclick="clickBack()">Back</button>
                    <h2>Delete Types</h2>
                    <div class="types">
                        <% typeArr.forEach(type => { %>
                            <div class="type">
                                <%= type.type_name %>
                                <span class="icon" onclick="type('<%= type.type_id %>', '<%= type.type_name %>')">
                                    <img src="./icons/del.svg" alt="Delete">
                                </span>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        </section>
        <%- include('footer') %>
    </section>
</body>
</html>