<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <section class="home">
        <%- include('header') %>
        <% if (choice === 'home') { %>
            <h1>Home</h1>
        <% } else if (choice === 'search') { %>
            <h1>Result</h1>
        <% } else if (choice === 'movie') { %>
            <h1>Movies</h1>
        <% } else if (choice === 'tvshow') { %>
            <h1>TV Shows</h1>
        <% } else { %>
            <div>HELLO</div>
        <% } %>
        <section class="home-container">
            <% if (choice === 'home') { %>
                <% showArr.forEach(show => { %>
                    <div class="image-card">
                        <img src="<%= show.data %>" alt="eh">
                        <div class="info">
                            <div class="title">Title: <%= show.show_name %></div>
                            <div class="rating">Rating: <%= show.show_rating %></div>
                        </div>
                    </div>
                <% }) %>
            <% } else if (choice === 'search') { %>
                <% searchArr.forEach(search => { %>
                    <div class="image-card">
                        <img src="<%= search.data %>" alt="eh">
                        <div class="info">
                            <div class="title">Title: <%= search.show_name %></div>
                            <div class="rating">Rating: <%= search.show_rating %></div>
                        </div>
                    </div>
                <% }) %>
            <% } else if (choice === 'movie') { %>
                <% movieArr.forEach(movie => { %>
                    <div class="image-card">
                        <img src="<%= movie.data %>" alt="eh">
                        <div class="info">
                            <div class="title">Title: <%= movie.show_name %></div>
                            <div class="rating">Rating: <%= movie.show_rating %></div>
                        </div>
                    </div>
                <% }) %>
            <% } else if (choice === 'tvshow') { %>
                <% tvShowArr.forEach(tshow => { %>
                    <div class="image-card">
                        <img src="<%= tshow.data %>" alt="eh">
                        <div class="info">
                            <div class="title">Title: <%= tshow.show_name %></div>
                            <div class="rating">Rating: <%= tshow.show_rating %></div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <% showArr.forEach(show => { %>
                    <div class="image-card">
                        <img src="<%= show.data %>" alt="eh">
                        <div class="info">
                            <div class="title">Title: <%= show.show_name %></div>
                            <div class="rating">Rating: <%= show.show_rating %></div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </section>
        <%- include('footer') %>
    </section>
</body>
</html>